*{margin:0;padding:0;box-sizing: border-box;}
.container{width:90%;margin:auto;}
img{max-width: 100%;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.container{width:80%;margin:auto;}
.fixed-width{ width:1270;margin:auto;}
.clear-fix::after{float:left;clear:both;margin:auto;display:block;}







/* HEader part */
.header{background-color:#3498db ; float:left; width:100%}
.header-left{width:30%; float:left;clear:left;}
.header-right{width:70%;float:right;clear:right;}
ul{}
li{display: inline-block;
    padding: 10px;
    margin: 10px 10px;
    font-weight: 600;
    line-height: 5px;
}
li a{color:white;text-decoration: none;padding:10px;}
.header h1 a{ color: white; text-decoration: none;

    padding: 10px;
    font-weight: 600;
    font-size: 32px;
}

li a:hover{background-color: yellowgreen;cursor: pointer;}


/* Banner */

 .banner{background: url(./Image/pexels-pixabay-459335.jpg) no-repeat center;
    padding: 200px;
    background-size: cover;}
.banner h1{background-color:lightyellow; display:inline-block;padding:10px;margin:10px; border-radius:5px;box-shadow:10px lightblue;}
.banner h2{background-color:#e74c3c; max-width:295px;margin:auto;padding:10px ;border-radius:5px }
span{color: darkorange;font-family: 'Courier New', Courier, monospace;transition: .50s;}
span:hover{background-color: darkblue; cursor: pointer;}


/* Service Part */
.service-item{float:left;width:30.30%; margin:10px 5px; border:2px solid lightgray;padding:10px;border-radius:5px; box-shadow:0px 2px solid whitesmoke ;}
h3{margin:10px;}
.fa-solid{color:yellow;background-color:red;font-size: 30px;height:50px; width:50px;border-radius: 50%;}

/* About Me */
.about{float:left;margin:20px;}
 .my-pic{width:25%;float:left;}
 .writting{width:25%;float:left; margin-left:25px;
height:450px;border:1px solid lightgray;overflow: scroll;}
.notice{float:left;width:45%;}
.notice ul li{display:block; border:1px solid lightgray}
.notice ul h1{color:red;margin-left:5px;}

/* Footer */
.footer{background-color: #34495e;float:left;width:100%}
.social{color:white;float:left;width:50%;margin:10px 10px;padding:10px;}
.copy-wright{color:white; float:left;width:40%;margin:10px 10px;padding:20px;}


 .fa-brands {
        font-family: "Font Awesome 6 Brands";
        font-weight: 400;
        padding: 10px;
        margin: 5px 4px;
        color: aqua;

    }
.fa-brands:hover{background-color: darkorange;cursor: pointer; transition: .80s;}
